<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminuser/base::layout(~{::section})">

<head>
	<meta charset = "UTF-8" />
</head>
<body>
	<section>
	<div class="card me-3 ms-3">
			<div class="card-body">
				
				<h1 class="text-center"> Cập nhật phim</h1>
				
				<div class="container-fluid m1-1">
				
				<div class="row">
					
					<div class="col-md-10 offset-md-1">
						
						<form action="#" 
							th:object="${movieticket}"
							enctype="multipart/form-data"
							method="POST"
							th:action="@{'/admin/process-movie-update/'+${movieticket.movieId}}"
						>
												
						<!--Movie Name-->
						
						<div class="input-group mb-3">
							
						
							<input
								th:value="${movieticket.movieName}"
								name="movieName"
      							type="text" 
      							class="form-control" 
      							id="movie_name_field" 
      							placeholder="Tên"
      						/>
      						
						</div>
						
						<!--Movie Genre-->
						
						<div class="input-group mb-3">
							
							
							<input
								th:value="${movieticket.genre}"
								name="genre"
      							type="text" 
      							class="form-control" 
      							id="movie_genre_field" 
      							placeholder="Thể loại"
      						
      						/>
      						
						</div>
						
						
						
						<!--Movie Ticket Prize-->
						
						<div class="input-group mb-3">
							
							
							<input
							    th:value="${movieticket.ticketPrize}"
								name="ticketPrize"
      							type="text" 
      							class="form-control" 
      							id="movie_ticketPrize_field" 
      							placeholder="Gía vé"
      							required
      						/>
      						
						</div>
						
						
						<!--Start Date-->
						
						<div class="input-group mb-3">
							
							
							<input
							
							    th:value="${movieticket.date}"
								name="date"
      							type="date" 
      							class="form-control" 
      							id="movie_date_field" 
      							placeholder="Ngày chiếu"
      							required
      						>
      						
						</div>
						
						<!--Start Time-->
						
						
						
						
						<!--Movie Seat-->
						
						<div class="input-group mb-3">
							
							
							<input
							
							    th:value="${movieticket.totalSeat}"
								name="totalSeat"
      							type="text" 
      							class="form-control" 
      							id="movie_totalSeat_field" 
      							placeholder="Thời gian"
      							required
      						>
      						
						</div>
						
						<!--Image Field-->
						
						<div class="container">
							<img style="width: 150px; height: 150px;" class="img-fluid .my_user_profile2" src="" th:src="@{'/img/'+${movieticket.movieImage}}" alt="" />
						</div>

						
						
						<div class="custom-file">
							<input 
								type="file" 
								name="movieImageUrl"
							/>
						
						</div>
												
						<div class="container text-center mb-3">
							
							<button class="btn btn-outline-primary"> Cập nhật </button>
							
						</div>
						
					
					</div>
				</div>
			
			</div>
		</div>
	</section>
</body>
</html>
